@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.hamburger {
    display: none;
}
a:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

button {
    transition: background-color ease-in-out .3s;
}

button:hover {
    background: hsl(240, 100%, 5%);
}

.side-h4 {
    transition: color ease-in-out 3.s;
    cursor: pointer;
}

.side-h4:hover {
    color: hsl(35, 77%, 62%);
}

body {
    width: 80%;
    margin: 70px auto;
}

header {
    padding: 20px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.links>a {
    padding: 10px;
    gap: 10px;
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    cursor: pointer;
}

.sect-1 {
    display: flex;

}

.img-1 {
    width: 95%;
}

.web3 {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 20px;
}

.web3-text {
    font-size: 50px;
    width: 50%;
}

.btn-read {
    padding: 15px 20px;
    background-color: hsl(5, 85%, 63%);
    color: white;
    width: 30%;
    margin: 10px auto;
    cursor: pointer;
}

.web3-p {
    font-size: 17px;
    line-height: 40px;
    width: 65%;
    margin-left: auto;
    color: hsl(236, 13%, 42%);
}

.web3-sect {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.side-news {
    background-color: hsl(240, 100%, 5%);
    color: white;
}

.side-news {
    padding: 20px;
}

.side-news>div>h3 {
    margin-bottom: 40px;
}

.side-title {
    font-size: 50px;
    color: hsl(35, 77%, 62%);
}

.side-h4 {
    font-size: 30px;
    color: hsl(36, 100%, 99%);
}

.p-color {
    color: hsl(233, 8%, 79%);
    font-size: 20px;
}

.side-news>div>p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.side-news>div>h4 {
    margin-top: 40px;
}

.side-news>div {
    height: 25%;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin-top: 40px;
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    height: auto;
    align-items: center;
}

footer>div>div {
    margin-left: 20px;
    align-items: center;

}

footer>div>img {
    height: 150px;
}

p {
    font-weight: 400;
}

h3 {
    font-weight: 700;
}

h1 {
    font-weight: 800;
}

.h3-size {
    font-size: 30px;
    color: hsl(233, 8%, 79%);
    padding: 5px;
}

.h4-size {
    font-size: 20px;
    color: hsl(240, 100%, 5%);
    padding: 5px;
}

.p-size {
    font-size: 20px;
    color: hsl(236, 13%, 42%);
    padding: 5px;
}

.img-mobile {
    display: none;
}

@media(max-width:1420px) {
    body {
        width: 90%;
        margin: 70px auto;
    }

    .sect-1 {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .img-1 {
        width: 100%;
    }

    .web3 {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .web3-text {
        font-size: 50px;
        width: 96%;
    }

    .web3-sect {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .web3-p {
        font-size: 17px;
        line-height: 40px;
        width: 95%;
        margin-left: auto;
        color: hsl(236, 13%, 42%);
        text-align: left;
    }

    .btn-read {
        padding: 15px 10px;
        background-color: hsl(5, 85%, 63%);
        color: white;
        width: 50%;
        margin: 10px;
        border: none;
        cursor: pointer;
        margin: 10px auto;
    }

    footer {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
        margin-top: 40px;
    }

    /* .img-mobile {
        display: none;
    } */
}

@media(max-width:1210px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;
        margin-top: 40px;
    }

    .img-desktop {
        display: block;
    }

    .img-mobile {
        display: none;
    }
}

@media(max-width:800px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
    }
}

@media(max-width:375px) {
    body {
        width: 95%;
        margin: 70px auto;
    }

    .sect-1 {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .img-1 {
        width: 100%;
    }

    .web3 {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .web3-text {
        font-size: 50px;
        width: 96%;
    }

    .web3-sect {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .web3-p {
        font-size: 17px;
        line-height: 40px;
        width: 95%;
        margin-left: auto;
        color: hsl(236, 13%, 42%);
        text-align: left;
    }

    .btn-read {
        padding: 15px 10px;
        background-color: hsl(5, 85%, 63%);
        color: white;
        width: 70%;
        margin: 10px;
        border: none;
        cursor: pointer;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;
        margin-top: 40px;
    }
}

@media(max-width:1415px) {
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 99999999999;
    }

    .close-btn {
        display: none;
    }

    .close-btn2 {
        display: block;
    }

    .links {
        display: none;
    }


    .show {
        display: none;
    }

    .index {
        z-index: 4;
    }

    .showen {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: initial;
        width: 60%;
        z-index: 9;
        margin-left: auto;
        background-color: #fff;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .showen>a {
        margin-top: 50px;
        padding: 20px;
        font-size: 20px;
        color: hsl(240, 100%, 5%);
    }

    .overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.81);
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .hide {
        display: none;
    }
}
